<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lora|Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
    <title>Account Settings</title>
  </head>
  <body>
    <!-- CONTAINER -->
    <div class="container">

      <!-- NAV/HEADER -->
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
        <h1 class="logo">Awesome Recipe App</h1>
        <nav class="main-navigation">
          <a class="p-2 text-dark" href="/dashboard">Dashboard</a>
          <a class="p-2 text-dark" href="/recipe-book">Recipe Book</a>
          <a class="p-2 text-dark" href="/add-recipe">Add New Recipe</a>
          <a class="p-2 text-dark" href="/add-master-ingredient">Add New Ingredient</a>
          <a class="p-2 text-dark active" href="/account-settings">Account Settings</a>
        </nav>
        <a class="btn btn-outline-primary" href="/logout">Sign Out</a>
      </div>
    </div>

    <div class="container page-container">
      <!-- MAIN CONTENT -->
      <div class="main-content">
        <h2 class="page-heading">Account Settings</h2>
        <!-- UPDATE PROFILE SUCCESS -->
        {% with update_profile_success = get_flashed_messages(category_filter=["update_profile_success"]) %}
        {% if update_profile_success %}
          {% for message in update_profile_success %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- UPDATE PROFILE FAILURE -->
        {% with update_profile_fail = get_flashed_messages(category_filter=["update_profile_fail"]) %}
          {% if update_profile_fail %}
            {% for message in update_profile_fail %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- UPDATE PASSWORD SUCCESS -->
        {% with update_login_success = get_flashed_messages(category_filter=["update_login_success"]) %}
        {% if update_login_success %}
          {% for message in update_login_success %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <!-- UPDATE PASSWORD FAILURE -->
        {% with update_login_fail = get_flashed_messages(category_filter=["update_login_fail"]) %}
          {% if update_login_fail %}
            {% for message in update_login_fail %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span>{{ message }}</span>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div class="row">
          <!-- UPDATE PROFILE FORM -->
          <div class="col">
            <h3>Update Profile</h3>
            <form class="form-container" action="/update-profile" method="post">
              <div class="form-group">
                <label for="update-first-name">First Name</label>
                <input type="text" class="form-control" id="update-first-name" name="update-first-name" value="{{user_info.first_name}}">
              </div>
              <div class="form-group">
                <label for="update-last-name">Last Name</label>
                <input type="text" class="form-control" id="update-last-name" name="update-last-name" value="{{user_info.last_name}}">
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>

          <!-- UPDATE PASSWORD FORM -->
            <h3 class="login">Update Password</h3>
            <form class="form-container" action="/update-login" method="post">
              <div class="form-group">
                <label for="update-password">New Password</label>
                <input type="password" class="form-control" id="update-password" name="update-password">
              </div>
              <div class="form-group">
                <label for="confirm-update-password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-update-password" name="confirm-update-password">
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>

          <!-- PROFILE IMAGE -->
          <div class="col">
            <img class="profile" src="{{ url_for('static', filename='img/food-placeholder.png') }}" alt="It's me!">
          </div>

          <!-- <h2>Preferences</h2> Backlog-->

        </div>
      <!-- END MAIN CONTENT -->
      </div>

    <!-- END CONTAINER -->
    </div>
  </body>
</html>