<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lora|Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
    <title>Add Recipe</title>
  </head>
  <body>
    <!-- CONTAINER -->
    <div class="container">

      <!-- NAV/HEADER -->
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
        <h1 class="logo">Awesome Recipe App</h1>
        <nav class="main-navigation">
          <a class="p-2 text-dark" href="/dashboard">Dashboard</a>
          <a class="p-2 text-dark" href="/recipe-book">Recipe Book</a>
          <a class="p-2 text-dark active" href="/add-recipe">Add New Recipe</a>
          <a class="p-2 text-dark" href="/add-master-ingredient">Add New Ingredient</a>
          <a class="p-2 text-dark" href="/account-settings">Account Settings</a>
        </nav>
        <a class="btn btn-outline-primary" href="/logout">Sign Out</a>
      </div>
    </div>

    <div class="container page-container">
      <!-- ADD RECIPE FAILURE -->
      {% with add_recipe_fail = get_flashed_messages(category_filter=["add_recipe_fail"]) %}
        {% if add_recipe_fail %}
          {% for message in add_recipe_fail %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <!-- MAIN CONTENT -->
      <div class="main-content">
        <h2 class="page-heading">Add New Recipe</h2>
        <form class="form-container" action="/add-new-recipe" method="post">
          <div class="form-group">
            <label for="recipe-name">Recipe Name*</label>
            <input type="text" class="form-control" id="recipe-name" name="recipe-name" required>
          </div>
          <div class="form-group">
            <label for="recipe-description">Recipe Description</label>
            <textarea class="form-control" id="recipe-description" name="recipe-description" cols="30" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" class="form-control" id="rating" name="rating">
          </div>
          <div class="form-group">
            <label for="difficulty">Difficulty</label>
            <input type="text" class="form-control" id="difficulty" name="difficulty">
          </div>
          <div class="form-group">
            <label for="prep-time">Prep Time</label>
            <input type="text" class="form-control" id="prep-time" name="prep-time">
          </div>
          <div class="form-group">
            <label for="cook-time">Cook Time</label>
            <input type="text" class="form-control" id="cook-time" name="cook-time">
          </div>
          <div class="form-group">
            <label for="author-source">Author/Source</label>
            <input type="text" class="form-control" id="author-source" name="author-source">
          </div>
        <button type="submit" class="btn btn-primary">Add</button>
        </form>
      <!-- END MAIN CONTENT -->
      </div>

    <!-- END CONTAINER -->
    </div>

  </body>
</html>