<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lora|Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
    <title>Modify Recipe</title>
  </head>
  <body>
    <!-- CONTAINER -->
    <div class="container">

      <!-- NAV/HEADER -->
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
        <h1 class="logo">Awesome Recipe App</h1>
        <nav class="main-navigation">
          <a class="p-2 text-dark" href="/dashboard">Dashboard</a>
          <a class="p-2 text-dark active" href="/recipe-book">Recipe Book</a>
          <a class="p-2 text-dark" href="/add-recipe">Add New Recipe</a>
          <a class="p-2 text-dark" href="/add-master-ingredient">Add New Ingredient</a>
          <a class="p-2 text-dark" href="/account-settings">Account Settings</a>
        </nav>
        <a class="btn btn-outline-primary" href="/logout">Sign Out</a>
      </div>
    </div>

    <div class="container page-container">
      <!-- MAIN CONTENT -->
      <div class="main-content">
        {% for recipe in view_recipe %}
        <a href="/modify-recipe/{{recipe['recipe_id']}}">Update Recipe</a>
        <a href="/delete/{{recipe['recipe_id']}}">Delete Recipe</a>
        <h2>Recipe Name: {{recipe.recipe_name}}</h2>

        <h3>Method</h3>
        {{recipe.step_number}}
        {{recipe.instruction}}
        <h3>Ingredients</h3>
        {{recipe.quantity}}
        {{recipe.unit_of_measure}}
        {{recipe.recipe_ingredient}}
        {% endfor %}
        <h1>Update Recipe</h1>
        {% for recipe in modify_recipe %}
          <form action="/update-recipe/{{recipe.recipe_id}}" method="post">
            <div class="form-group">
              <label for="update-recipe-name">Recipe Name</label>
              <input type="text" class="form-control" id="update-recipe-name" name="update-recipe-name" value="{{recipe.recipe_name}}">
            </div>
            <div class="form-group">
              <label for="update-recipe-description">Recipe Desciption</label>
              <input type="text" class="form-control" id="update-recipe-description" name="update-recipe-description" value="{{recipe.recipe_description}}">
            </div>
            <div class="cooking-instructions">
              <h3>Method</h3>
              <div class="form-group">
                <label for="update-step-number">Step Number</label>
                <input type="text" class="form-control" id="update-step-number" name="update-step-number" value="{{recipe.step_number}}">
              </div>
              <div class="form-group">
                <label for="update-instruction">Instruction</label>
                <input type="text" class="form-control" id="update-instruction" name="update-instruction" value="{{recipe.instruction}}">
              </div>
            </div>
            <h3>Ingredients</h3>
            <div class="form-group">
              <label for="update-quantity">Quantity</label>
              <input type="text" class="form-control" id="update-quantity" name="update-quantity" value="{{recipe.quantity}}">
            </div>
            <div class="form-group">
              <label for="update-unit-of-measure">Unit of Measure</label>
              <input type="text" class="form-control" id="update-unit-of-measure" name="update-unit-of-measure" value="{{recipe.unit_of_measure}}">
            </div>
            <div class="form-group">
              <label for="update-recipe-ingredient">Ingredient</label>
              <input type="text" class="form-control" id="update-recipe-ingredient" name="update-recipe-ingredient" value="{{recipe.recipe_ingredient}}">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        {% endfor %}

        <button class="btn btn-primary add-new-step">New</button>
      <!-- END MAIN CONTENT -->
      </div>

    <!-- END CONTAINER -->
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/recipes_script.js') }}"></script>
  </body>
</html>